﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Naslovna";
}

<div class="section">
    <div class="bg-index-header">
    </div>
</div>

<div class="container">

    <div class="row mt-4 bordered">

        <div class="col-sm-4">
            <figure>
                <img src="/images/swimlane-dotnet-platform.svg" width="660" height="311" role="presentation" alt="" class="img-fluid img-fluid-center">
            </figure>
        </div>

        <div class="col-sm-8">

            <h2 class="headings">What is ASP.NET?</h2>

            <p>
                ASP.NET is an open source web framework, created by Microsoft,
                for building modern web apps and services with .NET.

                ASP.NET is cross platform and runs on Windows, Linux, macOS, and Docker.


                The .NET platform
                .NET is a developer platform made up of tools, programming languages,
                and libraries for building many different types of applications.

                The base platform provides components
                that apply to all different types of apps.
                Additional frameworks, such as ASP.NET, extend .NET with components for building specific types of apps.

                Here are some things included in the .NET platform:

                The C#, F#, and Visual Basic programming languages
                Base libraries for working with strings, dates, files/IO, and more
                Editors and tools for Windows, Linux, macOS, and Docker
            </p>
        </div>
    </div>

    <div class="row mt-4 bordered">
        <div class="col-sm-8">

            <h2 class="headings">Back-end code</h2>

            <p>
                When using ASP.NET your back-end code,
                such as business logic and data access,
                is written using C#, F#, or Visual Basic.

                Because ASP.NET extends .NET, you can use the large ecosystem of packages and libraries available to all .NET developers.
                You can also author your own libraries that are shared between any applications written on the .NET platform.
            </p>
        </div>

        <div class="col-sm-4">
            <figure>
                <img src="/images/swimlane-backend-code.svg" width="660" height="311" role="presentation" alt="" class="img-fluid img-fluid-center">
            </figure>
        </div>
    </div>

    <div class="row mt-4 bordered">
        <div class="col-sm-4">
            <figure>
                <img src="/images/screenshot-razor-editor-vs.png" width="660" height="311" role="presentation" alt="" class="img-fluid img-fluid-center">
            </figure>
        </div>

        <div class="col-sm-8">
            <h2 class="headings">Dynamic pages using C#, HTML, CSS, and JavaScript</h2>

            <p>
                Razor provides a syntax for creating dynamic web pages using HTML and C#.
                Your C# code is evaluated on the server and the resulting HTML content is sent to the user.

                Code that executes client-side is written in JavaScript.
                ASP.NET integrates with JavaScript frameworks and includes pre-configured templates for single page app (SPA) frameworks like React and Angular.
            </p>
        </div>
    </div>
</div>