html {
    font-size: 14px;
    --purple-color: linear-gradient(128.87deg,#9780e5 14.05%,#e666cc 89.3%)
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1f1f1f;
    color: white;
}

.push-right{
    justify-content:flex-end;
}

.bg-index-header {
    background: url(/images/bg-img.jpg) no-repeat;
    height: 600px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bordered{
    border:1px lightgrey solid;
    padding:20px
}
.headings {
    color:rgb(99, 11, 198)
}

button {
    background-image: var(--purple-color);
    text-align: center;
    border: 1px solid black;
    border-radius: 11px;
    width: 10em;
    height: 3em;
    margin-top: 20px;
}
.contact-info{
    text-align:center;
}